@model Car_Renting.Models.RentCar

@{
    ViewBag.Title = "rentdetails";
    Layout = "~/Views/shared/_mainlayout.cshtml";
}
<div class="container body-content"> <br /><br />
    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Your Rent Details</strong></div>
        <div class="panel-body">
            <div>
                <dl class="dl-horizontal"><br />
                    <dt>
                        @Html.DisplayNameFor(model => model.car.cardesc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.car.cardesc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.user.ssn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.user.ssn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.location)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.location)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PickUp)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PickUp)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DropOff)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DropOff)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.date)
                    </dd>

                </dl>
            </div>
            <p style="text-align:center">

                @Html.ActionLink("Back to List", "getUsercars", new { }, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>


</div>